.post {
    width: 90%;
    margin: 0 auto 15px;
    border-bottom: 1px solid #d4d4d9;
}

.post_main {
    display: flex;
    align-items: center;
}

.icon_profile {
    width: 48px;
}

.text_post {
    margin-left: 10px;
}

.like {
    display: flex;
    align-items: center;
}
.like img {
    width: 24px;
}